*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

nav {
    opacity: .5;
    background-color: rgb(0, 0, 0);
    height: 3em;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

nav, h2 {
    color: white;
}

nav ul{
    display: flex;
    margin-left: 5px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.main{
    height: 100vh;
}

.main-section img{
    max-width: 100%
}

.container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width: 20%;
    margin: 3%;
    padding: 3%;
    border-radius: 3%;
    -webkit-box-shadow: 0 0 16px black;
    
}